font-numeric()
	font-family var(--tq-font-numeric)
	font-variant-numeric tabular-nums

pane()
	border 1px solid var(--tq-color-pane-border)
	background var(--tq-color-pane)
	backdrop-filter blur(4px)

hover-transition(prop = all)
	values = ()

	for p in arguments
		push(
			values,
			p + ' var(--tq-hover-transition-duration) cubic-bezier(0.4, 0, 0.2, 1)'
		)

	transition unquote(join(',', values))

input-base()
	position relative
	width 100%
	height var(--tq-input-height)
	border-radius var(--tq-input-border-radius)
	background var(--tq-color-input)
	color var(--tq-color-on-input)
	font-size 1rem
	hover-transition(background, box-shadow)
	overflow hidden

	&:hover
		background var(--tq-color-input-hover)

	&:focus-within, &.tweaking
		z-index 1
		background var(--tq-color-primary-container)
		box-shadow 0 0 0 1px var(--tq-color-primary)

	&:has(input[invalid=true])
		--tq-color-on-input var(--tq-color-error)
		--tq-color-primary var(--tq-color-error)
		--tq-color-primary-container var(--tq-color-error-container)

	input
		padding 4px 12px
		width 100%
		user-select none

		&::selection
			color var(--tq-color-on-input)

		&:focus::selection
			background var(--tq-color-primary)
			color var(--tq-color-on-primary)

	&.minimal
		background transparent

		&:hover
			box-shadow 0 0 0 1px var(--tq-color-pane-border)

		&:focus-within, &.tweaking
			box-shadow 0 0 0 1px var(--tq-color-primary)

	&[data-horizontal-position=middle], &[data-vertical-position=middle]
		border-radius 0

	&[data-horizontal-position=left]
		border-top-right-radius 0
		border-bottom-right-radius 0

	&[data-horizontal-position=right]
		border-top-left-radius 0
		border-bottom-left-radius 0

	&[data-vertical-position=top]
		border-bottom-right-radius 0
		border-bottom-left-radius 0

	&[data-vertical-position=bottom]
		border-top-left-radius 0
		border-top-right-radius 0

tooltip()
	padding 4px 11px
	border-radius 9999px
	background var(--tq-color-inverse-surface)
	color var(--tq-color-inverse-on-surface)

input-overlay()
	position fixed
	top 0
	left 0
	z-index 1000
	width 100%
	height 100%
	pointer-events none

	.thin, .bold, .extra-bold
		fill none
		stroke var(--tq-color-primary)
		stroke-linecap butt

	.thin
		stroke-width 1

	.bold
		stroke-width 2

	.extra-bold
		stroke-width 4

	.dashed
		fill none
		stroke $color-frame
		stroke-width 1

	.label
		font-size 1em
		font-numeric()
		fill var(--tq-color-primary)