@import '../../node_modules/reset-css/reset.css'

:root
	font-size 13px
	font-family 'Inter'
	font-synthesis none
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-text-size-adjust 100%
	--titlebar-area-height env(titlebar-area-height, 38px)
	// UI Metrics
	--tq-pane-border-radius 1.4rem

*, *:before, *:after
	box-sizing border-box
	outline none
	font-weight inherit
	font-style normal
	font-size inherit
	cursor inherit

button, input
	border 0
	background transparent
	color inherit
	font-size inherit
	font-family inherit
	user-select none

body
	overflow hidden
	margin 0
	height 100vh
	background var(--tq-color-bg)
	color var(--tq-color-text)
