:root
	font-size 14px
	font-family 'Fira Code', Monaco, monospace
	font-synthesis none
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-text-size-adjust 100%

*, *:before, *:after
	box-sizing border-box
	outline none
	font-weight inherit
	font-style normal
	font-size inherit
	cursor inherit

button, input
	border 0
	font-size inherit
	font-family inherit

body
	overflow hidden
	height 100vh
