:root
	font-size 14px
	font-family 'Fira Code', Monaco, monospace
	font-synthesis none
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-text-size-adjust 100%
	// Color scheme
	--ui-bg #fff
	--ui-color #000
	--ui-button #eee
	--ui-accent blue

	@media (prefers-color-scheme dark)
		--ui-bg #222
		--ui-color #fff
		--ui-button #333
		--ui-accent skyblue

*, *:before, *:after
	box-sizing border-box
	outline none
	font-weight inherit
	font-style normal
	font-size inherit
	cursor inherit

button, input
	border 0
	font-size inherit
	font-family inherit

body
	overflow hidden
	margin 0
	height 100vh
	background var(--ui-bg)
	color var(--ui-color)
