flex-version = flex

@import './reset'

*, ::after, ::before
  box-sizing: border-box
  outline none

BG = #1d1f21
SELECTION = #373b41
CURRENT_LINE = #282a2e

FG = #c6c8c6
CANVAS_BG = lighten(#c5c8c6, 20)
SEMITRANS_WHITE = rgba(CANVAS_BG, .7)

global-reset()

html, body
  margin 0
  border 0
  padding 0 
  color FG
  width 100%
  height 100%
  overflow hidden

html
  background FG
  font-size 14px
  font-family sans-serif

button, input
  margin 0
  border 0
  outline none
  appearance none
  -webkit-appearance none
  background none
  color inherit
  font inherit  

button, input[type=text], input[type=number]
  padding .8em
  border 1px solid FG
  color #c6c8c6

button
  &:hover
    background FG
    color BG

input[type=text], input[type=number]
  &:hover
    background SELECTION//lighten(BG, 10)

.menu
  cursor default
  position absolute
  // width 10em
  background #282a2e
  z-index 100

  li
    padding 1em

    &:hover
      background SELECTION  
      
.fill
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 0

.artboard
  position absolute
  width 100%
  height 100%
  background CANVAS_BG

  &.pan
    cursor grab
    cursor -webkit-grab

.sidebar
  position absolute
  top 0
  right 0
  width 30rem
  height 100%
  transform translateX(100%)
  transition all .2s ease

  &.show
    transform none

  &__credit
    position absolute
    color FG
    bottom 1rem
    right 100%
    width 30em
    margin-right 1rem
    font-size .9rem
    text-align right

    a
      color FG

      &:hover
        color SELECTION

  &__split
    position absolute
    background BG
    right 100%
    top 50%
    width 1rem
    height 8rem
    margin-top -0.5 * @height
    margin-right 0
    text-align center
    font-size .8rem
    z-index 20
    border-top-left-radius 5px
    border-bottom-left-radius 5px
    cursor pointer
    transition all 250ms

    &:before
      position relative
      display inline-block
      left .1em
      line-height @height

    &:hover
      background SELECTION
      width 1.2rem

  &.show &__split:before
      left .4em

.tool-editor
  position relative
  width 100%
  height 100%
  display flex
  flex-direction column
  align-items stretch
  background BG

  &__header
    z-index 10
    height 3rem
    display block
    border-bottom 1px solid SELECTION

    .btn-update
      position absolute
      background SELECTION
      border 0
      border-radius 20px
      padding 0 1em
      line-height 1.75em
      display inline-block
      font-size 0.9em
      margin 0
      cursor pointer
      top -0.1em
      right 2.5em
      top 0.75em

      &:hover
        background-color white

      &.dirty:after
        content '*'
        display block
        position absolute
        top .7em
        right .4em

    input
      margin-right 1rem
      padding 0.5rem
      border 0px

      &.icon
        font-size 1.5em
        width 2em
        padding-left 0
        padding-right 0
        text-align center
        height:100%
        margin-right 0
        background transparent
        cursor pointer
      
        &:hover
          color white

      &.label
        flex-grow 1
        font-size 0.9rem
        line-height 2.4em
        background-color transparent
        position absolute
        left 3em
        width calc(100% - 12em)
        height 3em
        top 0.25em
        cursor pointer

        &:hover
          color white
    
    .btn-menu
      font-size 1.5rem
      padding 0 0.25em
      border 0
      line-height 2em
      position absolute
      right 0em
      top 0em
      cursor pointer

      &:hover
        background-color transparent
        color white
    
    .menu
      top 3.5rem
      right .5rem 

  &__editors
    position relative
    height calc(100vh - 7em);
    margin 1em 1em 0

  &__code-wrapper
    position absolute
    top 0
    left 0
    width 100%
    height 100%

    &.hide
      display none

  &__code
    width 100%
    height 100%

  &__tab
    // background red 
    display flex

    button
      flex-grow 1
      border 0
      height 3rem
      line-height 3rem
      padding 0
      color #888
      transition background-color 250ms
      cursor pointer

      &.active
        background SELECTION

      &:hover
        background FG
        color CURRENT_LINE
.toolbar
  SIZE = 2.5rem

  user-select none
  position absolute
  top 0.5rem
  left @top
  font-size 0.5 * SIZE



  &__tools
    display flex
    flex-direction column
    align-items flex-start

  li
    position relative
    display flex
    overflow hidden
    width auto
    height SIZE
    margin-bottom 1px
    background BG
    border-radius 0.5 * SIZE
    transform-origin (0.5 * SIZE) (0.5 * SIZE)
    transition all .1s ease
    color CANVAS_BG

    &.active
      transform scale(1)
    
    &:hover
      transform scale(1)

    &:hover, &.active
      width auto

      label
        width auto
        padding 0 (0.5 * SIZE) 0 0
        opacity 1

    &:checked
      background red
      transform scale(1)
  
  input
    float left
    display block
    width SIZE
    height SIZE
    flex 0 0 SIZE
    opacity 0
    cursor pointer

  label
    display block
    overflow hidden
    width 0
    height SIZE
    padding 0
    transition all 250ms ease
    font-size .7em
    color CANVAS_BG
    line-height SIZE
    opacity 0
  
  .icon
    position absolute
    top 0
    left 0
    width SIZE
    height SIZE
    text-align center
    line-height SIZE
    z-index 10
    pointer-events none

    &.tinyletter
      font-size .9em    
      line-height 1.1 * SIZE  
  
  .add
    width SIZE !important
    background CANVAS_BG
    border 1px dashed BG
    cursor pointer

    &:before
      content '+'
      display block
      width 100%
      height 100%
      color black
      line-height 0.9 * SIZE
      text-align center
  
.settings-button
  position absolute
  left 1rem
  bottom @left
  width 2.5rem
  height @width
  background-image url('./gear.svg')
  background-size 2em
  transition all 250ms ease
  background-repeat no-repeat
  background-position center
  border-radius 1.5em
  overflow hidden
  cursor pointer

  &:hover
    transform scale(1.2) rotate(30deg)

.settings
  position absolute
  left 4.5rem
  bottom .8rem
  color BG
  background CANVAS_BG
  border 1px solid #d6d6d6

  li:hover
    background #efefef

HEIGHT = 2rem
PADDING = .8rem

.parameter-control
  position absolute
  top 0
  right 100%
  margin-right 0.5rem
  z-index 100
  width 15rem
  color SELECTION
  font-size .9rem
  padding 0.5em
  user-select none

.param
  display block
  height HEIGHT
  margin-bottom 1px
  background BG
  line-height HEIGHT
  position relative
  border-radius 30px
  font-size 0.8em
  font-family 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace

  &__label
    width 8rem
    padding 0 1rem 0 0
    position absolute
    color FG
    padding-left 1em

  input&__input
    display block
    width 7rem
    color WHITE
    background SELECTION
    border 0
    text-align left
    border-radius 20px
    right 0
    top 0
    position absolute
    overflow hidden
    padding 0 0.75em

    &.light
      color BG

    &:hover
      background #aaa
  
  input[type=number]
    -moz-appearance textfield


